html{
  background-color:#2D9686;
}
header{
  text-align: center;
  
}
header a{
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}
header a:hover{
  color:#F7FFF7;
}


.mainpage{
  display:flex;
  
}

.main{
  margin-left: 30%;
}

.sidebar .Folder ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  
}
.sidebar a{
  text-decoration: none;
  color:#000000;
}
.sidebar a:hover{
  color:#F7FFF7;
}
.addFolderButton{
  font-size: 18px;
  background-color: #084C61;
  border: none;
  margin-left: 20px;
  color:#F7FFF7;
}
.addFolderButton:hover{
  background-color: #000000;
}

.noteDetails a{
  text-decoration: none;
  color:#000000;
  font-size: 20px;
}
.noteDetails a:hover{
  color:#F7FFF7;
}
.noteDeleteButton{
  font-size: 18px;
  background-color: #084C61;
  border: none;
  color:#F7FFF7;
}
.noteDeleteButton:hover{
  background-color: #000000;
}
.addNoteButton{
  margin-top: 20px;
  background-color: #571F4E;
  border:none;
  color:#F7FFF7;
  font-size: 18px;
}
.addNoteButton:hover{
  background-color: #000000;
}
.BackButton button{
  margin-top: 20px;
  background-color: #571F4E;
  border:none;
  color:#F7FFF7;
  font-size: 18px;
  margin-left: 20px;
}
.AddFolderForm h3{
  font-size:20px;
}
.AddFolderForm label{
  font-size: 18px;
  margin-right:10px;
}
.AddFolderForm input{
margin-bottom: 20px;
min-width: 30%;
}
.AddFolderForm input[type='text']{
  font-size:24px;
}
.AddNoteForm h3{
  font-size:20px;
}
.AddNoteForm label{
  font-size: 18px;
  margin-right:10px;
}
.AddNoteForm input{
margin-bottom: 20px;
min-width: 30%;
}
.AddNoteForm input[type='text']{
  font-size:24px;
}
.AddNoteForm textarea{
  min-width: 30%;
}
.AddNoteForm textarea[type='text']{
  font-size:20px; 
}
.folder-select{
  background-color: #571F4E;
  border:none;
  color:#F7FFF7;
  font-size: 18px;
}
.noteContent p{
  padding:10px;
}